@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #040c14;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

#root {
  width: 100%;
}